<html>

<head>
	<title>
		Local Admin Application
	</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>

<body>
	<form class="formcenter">
		<div class="">
			<br>
			<div class="" style="text-align: center; font-size: 3rem"><b>Create an Fabric User Identity</b></div>
			<br>
			<br>
			<form class="cen">
				<label for="UserIdentity">User Identity</label><br>
				<input type="text" id="UserIdentity" name="UserIdentity" [(ngModel)]="userIdentity" value=""><br>

				<label for="role">Role</label><br>
				<select type="text" class="form-control" id="exampleFormControlInput1" style="width: 500px;" name="role"
					[(ngModel)]="role" placeholder="role">
					<option value="peer">peer</option>
					<option value="client">client</option>
				</select>
				<label for="organization">Organization</label><br>
				<select class="form-control" name="Organization" [(ngModel)]="selected"
					(ngModelChange)="fetchAffiliations($event)" style="width: 500px;">
					<option *ngFor="let org of organizations">{{org['OrgName']}}</option>
				</select><br>

				<label for="affiliation">Affiliation</label><br>
				<select type="text" class="form-control" id="affiliation" style="width: 500px;" name="affiliation"
					[(ngModel)]="affiliation" placeholder="affiliation">
					<option *ngFor="let item of affiliationList">
						{{item}}
					</option>
				</select>
			</form>
			<br>


			<br>
			<button class="btn btn-primary" (click)="createuser()" type="submit"
				style="width: 500px;margin-left: 100px">Register & Enroll</button>
		</div>
		<p>
			<!-- space-->
			<br>
			{{response}}
		</p>
	</form>
</body>

</html>