<html>
 	<head>	
 		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
 		<link rel="stylesheet" href="mbse-model.component.css">
 	</head>
 	<body>
 		<div class="box1">
 			<div style="position : relative; left:10px; top: 0px;"><a routerLink="/admindashboard" style=" text-decoration: none;"> {{org}}</a>
				<div id="model"><a routerLink="/modeldashboard" style=" text-decoration: none;"> Model </a></div>
			</div>
 			<div class="manager" style="position : absolute; left:1220px; top: 20px;" [matMenuTriggerFor]="menu"> <mat-icon style="transform: scale(1.5); position:absolute; left:-30px">account_circle</mat-icon> CSE({{username}})</div>
 			<div style="position : absolute; left:1260px; top: 25px;">
 				<mat-menu #menu="matMenu">
 					<button mat-menu-item>
 					<!-- <mat-icon>dialpad</mat-icon> -->
 					<span>Settings</span>
 					</button>
 					<button mat-menu-item>
 					<!-- <mat-icon>voicemail</mat-icon> -->
 					<span>Profile</span>
 					</button>
 					<button mat-menu-item>
 					<!-- <mat-icon>notifications_off</mat-icon> -->
 					<span>Change Password</span>
 					</button>
 					<button mat-menu-item>
 						<!-- <mat-icon>notifications_off</mat-icon> -->
 						<span><a routerLink="">Sign out</a></span>
 						</button>
 					</mat-menu>		  
 				</div>
 		</div>
 		<div class="greencolor box2">
 			<div class="hdr">Create a New Model</div>
 			<div class="greencolor manager MBSELeftBox" style="position : relative; top: 10px;">
 					<form method="POST" enctype="multipart/form-data">
 						<div style="left: 20px; top:35px; position: absolute;"><img src="assets/img/blockchain.png" width="30" height="30" alt="blockchain"></div>
 						<div style="left: 80px; position: absolute;">Select Project</div><div style="position:absolute; top:40px; left: 400px;"><select name ="projectSelected" [(ngModel)]="projectSelected" style="width: 200px;">
							<option *ngFor = "let project of projectSelectionOptions" value={{project.ID}}>{{project.Name}} </option>
 						  </select></div>
 						
 						<br>
 						<br>
 						<div style="left: 20px; top:77px; position: absolute;"><img src="assets/img/blockchain.png" width="30" height="30" alt="blockchain"></div>
 						<div style="left: 80px; position: absolute;">Select Varient Model</div><div style="position:absolute; top:80px; left: 400px;"><select name ="varinatModelSelected" [(ngModel)]="variantModelSelected"  style="width: 200px;">
							<option *ngFor = "let varinat of VariantModelOptions" value={{varinat.value}}>{{varinat.label}}</option>
 						  </select></div>
 						<br>
 						<br>
 						<div style="left: 20px; top:120px; position: absolute;"><img src="assets/img/blockchain.png" width="30" height="30" alt="blockchain"></div>
 						<div style="left: 80px; position: absolute;">Model Name</div><div style="position:absolute; top:120px; left: 400px;"><input name ="modelName" [(ngModel)]="modelName" type="text" style="width: 200px;"></div>
 						<br>
 						<br>
 						<div style="left: 20px; top:162px; position: absolute;"><img src="assets/img/blockchain.png" width="30" height="30" alt="blockchain"></div>
 						<div style="left: 80px; position: absolute;">Model Description</div><div style="position:absolute; top:165px; left: 400px;"><input name ="modelDesc" [(ngModel)]="modelDesc" type="textarea" style="width: 340px; height:50px;"></div>
 						<br>
 						<br>
 						<br>
 						<br>
 						<div style="left: 20px; top:250px; position: absolute;"><img src="assets/img/blockchain.png" width="30" height="30" alt="blockchain"></div>
 						<div style="left: 80px; position: absolute;">Model Documents</div>
						 <div *ngIf="!modelService.isMBSEModelView" style="position:absolute; top:230px; left: 399px;"><input (change)="onfileUpload($event)" type="file" multiple  #multipleInput/>
							<button *ngIf="!modelService.isMBSEModelView"  class="button"  (click)="onMbseUpload()"  style="position:absolute;" >Upload</button></div>
 						<br>
 						<br>
 						<div style="left: 20px; top:293px; position: absolute;"><img src="assets/img/blockchain.png" width="30" height="30" alt="blockchain"></div>
 						<div style="left: 80px; position: absolute;">Version</div><div style="position:absolute; top:290px; left: 400px;"><input name ="version" [(ngModel)]="version" type="text" style="width: 200px;"></div>
 						<br>
 						<br>
 						<div style="left: 20px; top:335px; position: absolute;"><img src="assets/img/blockchain.png" width="30" height="30" alt="blockchain"></div>
 						<div style="left: 80px; position: absolute;">Sub-Version</div><div style="position:absolute; top:335px; left: 400px;"><input name ="subVersion" [(ngModel)]="subVersion" type="text" style="width: 200px;"></div>						<br>
 						<br>
 						<br>
 						<br>
 						<div  *ngIf="!modelService.isMBSEModelView"style="left: 450px; top:430px; position: absolute;"><img src="assets/img/blockchain.png" width="30" height="30" alt="blockchain"></div>
 						<button *ngIf="!modelService.isMBSEModelView" type="submit" class="greenbutton" (click) = "onSubmit()" style="position:absolute; left:500px">Submit</button>
 					</form>
 				</div>
 			<div class="ModelDocument" style="position : absolute; left:900px; top: 100px;">
 				<b>Model Document</b>
				 <ul>
					<li *ngFor='let eachPath of filepaths'>
					  <a href="http://localhost:3000/getSingleFileDetails/{{this.eachPath.filename}}" download target="_blank">{{this.eachPath.originalname}}</a>
					</li>
				  </ul>
 			</div>
 			<div style="position : absolute; left:1130px; top:625px;"><div class="blockchain">Data Stored in Blockchain</div></div>
 			<div style="position : absolute; left:1260px; top:625px;"><div class="database blackcolor">Data Stored in Local DB</div></div>
 			</div>
 	</body>	
 </html> 