.formcenter{
  margin : 150px;
  margin-left : 450px;

}

.welcome{
  font-size: 30px;
  text-align: center;
}

.box {
  text-align: center;
  font-size: 24px;
  width: 1365px;
  border: 1px solid silver;
  padding: 15px;
  color : #00BFFF;
  margin-right: auto;
  margin-left : auto;
}
.jumbotron{
  background: linear-gradient(-45deg, #f07b58 , #f13f83 , #25aee0, #21dbb0 );
animation: gradient 20s ease infinite;
background-size: 400% 400%;
margin:0px;
  padding:0px;
  border-radius:0px;
}

@keyframes gradient {
0% {
background-position: 0% 50%;
}
50% {
background-position: 100% 50%;
}
100% {
background-position: 0% 50%;
}
}
