<html>
 	<head>	
 		<title>
 			Local Admin Dashboard
 		</title>
 		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
 	</head>
 	<body class="">
 	<div class="">
 		
 		<div class="manager" style="position : absolute; left:1220px; top: 20px;" [matMenuTriggerFor]="menu"> <mat-icon style="transform: scale(1.5); position:absolute; left:-30px">account_circle</mat-icon> Admin({{username}})</div>
 		<div style="position : absolute; left:1260px; top: 25px;">
 			<mat-menu #menu="matMenu">
 				<button mat-menu-item>
 				<!-- <mat-icon>dialpad</mat-icon> -->
 				<span>Settings</span>
 				</button>
 				<button mat-menu-item>
 				<!-- <mat-icon>voicemail</mat-icon> -->
 				<span>Profile</span>
 				</button>
 				<button mat-menu-item>
 				<!-- <mat-icon>notifications_off</mat-icon> -->
 				<span>Change Password</span>
 				</button>
 				<button mat-menu-item>
 					<!-- <mat-icon>notifications_off</mat-icon> -->
 					<span><a routerLink="">Sign out</a></span>
 					</button>
 				</mat-menu>		  
 			</div>
 	</div>
	 <div class="card shadow-lg p-3 mb-5 mt-5 bg-white rounded" style="color: aqua;text-align:center;margin:17rem;font-size:2rem;font-weight:900;"><a
		style=" text-decoration: none;">Welcome to {{org}}</a></div>
	<div class="container">
		<div class="row">
			<div class="col-2"></div>
			<div class="col-8">
				<div class="card shadow-lg p-3 mb-5 mt-5 bg-white rounded" style="margin: 20px;">
					<div class="card-body" style="text-align: -webkit-center;">
							<div >
							<br><br>
								
								<a routerLink="/employeelist" style=" text-decoration: none;"><div class="rectangleBlueBox bluecolor card shadow-lg p-3 mb-5 bg-body rounded" style=""><div style="left: 190px; position: absolute;"></div><br><br>User</div></a>
								
								<a routerLink="/fabricUserIDList" style=" text-decoration: none;"><div class="rectangleBlueBox bluecolor card shadow-lg p-3 mb-5 bg-body rounded" style=""><div style="left: 190px; position: absolute;"></div><br>Fabric<br>User</div></a>
							</div>
			
							
						</div>
				</div>	

			</div>
			<div class="col-2"></div>
		</div>
	</div>
	
	
		
 	</body>	
 </html>