<html>

<head>
	<title>
		Local Admin Application
	</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>

<body>
	<form class="formcenter">
		<div class="">
			<br>
			<div class="welcome"><b>Map Fabric User Identity to User</b></div>
			<br>
			<br>
			<form class="cen">
				<label>Fabric User Identity</label><br>
				<select class="form-control"  style="width: 500px;" name="fabUserIdentity"
					[(ngModel)]="fabUserIdentity" placeholder="Fabric User Identity">
					<option>Select</option>
					<option *ngFor="let fabUID of fabUserIdentityList">{{fabUID['FabricUserIdentity']}}</option>
				</select>

				<label>Username</label><br>
				<select class="form-control"  style="width: 500px;" name="username"
					[(ngModel)]="user" placeholder="Fabric User Identity">
					<option>Select</option>
					<option *ngFor="let userN of userNamesList">{{userN['Username']}}</option>
				</select>
			</form>
			<br>


			<br>
			<button class="btn btn-primary" (click)="mapUsertoFID()"  style="width: 500px;margin-left: 100px">Map Fabric User Identity</button>
		</div>
		<p>
			<!-- space-->
			<br>
			<!-- {{response}} -->
		</p>
	</form>
</body>

</html>