<html>
 	<head>	
 		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
 		<link rel="stylesheet" href="userlist.component.css">
 	</head>
 	<body>
 		<div class="box1">
 			<div style="position : relative; left:10px; top: 0px;"><a routerLink="/ManagerHome" style=" text-decoration: none;"> {{org}}</a></div>
 			<div class="manager" style="position : absolute; left:1220px; top: 20px;" [matMenuTriggerFor]="menu"> <mat-icon style="transform: scale(1.5); position:absolute; left:-30px">account_circle</mat-icon> Manager({{username}})</div>
 			<div style="position : absolute; left:1260px; top: 25px;">
 				<mat-menu #menu="matMenu">
 					<button mat-menu-item>
 					<!-- <mat-icon>dialpad</mat-icon> -->
 					<span>Settings</span>
 					</button>
 					<button mat-menu-item>
 					<!-- <mat-icon>voicemail</mat-icon> -->
 					<span>Profile</span>
 					</button>
 					<button mat-menu-item>
 					<!-- <mat-icon>notifications_off</mat-icon> -->
 					<span>Change Password</span>
 					</button>
 					<button mat-menu-item>
 						<!-- <mat-icon>notifications_off</mat-icon> -->
 						<span><a routerLink="">Sign out</a></span>
 						</button>
 					</mat-menu>		  
 				</div>
 		</div>
 			<div class="box2" >
 			<br>
 			<table class="table" >
 			<thead class="thead-dark">
 				<tr class="table-active">
 				  <th scope="col">Name</th>

 				  <th scope="col">User Name</th>

 				  <th scope="col">Role</th>

 				  <th scope="col">CreatedBy</th>
				   
 				  <th scope="col">CreatedDate</th>
                  <th scope="col">Edit</th>
                  <th scope="col">Status</th>
 				</tr>
 			</thead>
			 <tbody>
				<tr *ngFor="let item of EmployeeListData ">
					<td>{{item.Name}}</td>
					<td>{{item.Username}}</td>
					<td>{{item.EmployeeRoleID}}</td>
					<td>{{item.created_by}}</td>
					<td>{{item.created_date}}</td>
                    <td> 
						<img src="assets/img/edit.png"  routerLink = "/updateFabricUser" width="35" height="30" alt="edit">
                    </td>
                    <td> 
						<!-- <div class="form-group">
							<div class="custom-control custom-switch">
							  <input type="checkbox" class="custom-control-input" id="customSwitch1" name='machine_state'>
							  <label class="custom-control-label" id="statusText" for="customSwitch1"></label>
							</div>
						</div> -->
                        <label class="switch">
                            <input type="checkbox" class="custom-control-input" id="customSwitch1" name='machine_state'>
                            <span class="slider round"></span>
                          </label>
                    </td>
				</tr>
			 </tbody>
 			</table>
 		</div>
            <button class="btn btn-primary" routerLink="/create-user" type="submit" style="margin-top:20px; margin-left: 480px;width: 500px;">Create a Fabric User</button>

            <br>
            <button class="btn btn-primary"  type="submit" style="margin-top:20px; margin-left: 480px;width: 500px;">Enroll Admin</button>
 	</body>	
 </html> 
