<html>
 	<head>	
 		<title>
 			Local Admin Application
 		</title>
 		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
 		<link rel="stylesheet" href="create-user.component.css">
 	</head>
 	<body>
 		<form class="formcenter">
 			<div class = "border">
 			<div class="welcome" ><b>Create an Fabric User</b></div>
 			
            <br>
			Select a Username: 
			<p> 
				
			</p>
 			<select type="text" class="form-control" id="exampleFormControlInput1" style="width: 500px;" name="username" [(ngModel)]="username" placeholder="username">
				<option>--Select a Username--</option>
				<option *ngFor="let item of EmployeeListData">
					{{item.Username}}
				</option>
 			</select>
			<br>
			
			<br>
            Select the Organization:
			<p> 

			</p>
 			<select class="form-control" name="Organization" [(ngModel)]="selected" style="width: 500px;">
 				<option value="NASA">NASA</option>
 				<option value="UHCL">UHCL</option>
 				<option value="Tietronix">Tetronix</option>
 			</select>

 			  <br>
 			  <!-- {{selected}} -->
 			  <br>
 			<button class="btn btn-primary" (click)="createuser()"  type="submit" style="width: 500px;">Register</button>
 			</div>
			 <p> 
				<!-- space-->
				<br>
				{{response}}
			</p>
 		</form>
 	</body>	
 </html> 

